.landing_header{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    

}
.landing_header img{
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
}
.main_body{
    background-color: #dcdcdc;
    font-family: Serifa BT;
}

.slogan{
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: blue;
}

.landing_photo_card{
    /* background-color: #ccd3d3; */
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    transition: all .2s ease-in-out;
}

.landing_photo_card:hover {
    background-color: #d3cece;
    transform: scale(1.05); 
    overflow: hidden;
}

.landing_page_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.landing_page_photo img{
    flex-shrink: 2;
    max-height: 250px;
    max-width: 250px;
    border: black solid;
    border-width: 8px;
    border-radius: 5px;
}
.landing_photo_card h1{
    text-align: center;
    align-items: center;
    font-size: 60px;
}
.landing_photo_card h2{
    text-align: center;
    align-items: center;
    font-size: 40px;
}
.landing_photo_card h3{
    text-align: center;
    align-items: center;
    font-size: 30px;
}
.landing_photo_card small{
    position: relative;
    display: inline-flex;
    left: 0;
    top: 0;
    font-size: 30px;
}
.enter{
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 50px;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 40%;
}
.enter:hover{
    background-color: #d3cece;
    transform: scale(1.05); 
    overflow: hidden;
}

.break{
    height: 10px;
    width: 100%;
    background-image:url("/img/line_rainbow_break.jpg");
    image-rendering: auto;
    overflow: wrap;
    background-size: cover ;
}