<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="landing.css">
    <title>Hello, world!</title>
  </head>
  <body class="main_body container col-sm-12">
    <div class="justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="landing_header col-sm-12">
                    <img  src="/img/Logo_Header.jpg">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <header class="slogan">
                    Creative Faceting, Cabs, Intaglio, Relief & 3D Sculpture
                </header>
            </div>
            <div class="row landing_photo_card">
                <div class="col-md-5 landing_page_photo">
                    <img src="/img/Aurora_Star_Carnegie_2018.jpg">
                </div>
                <div class="col-md-7">
                    <h1 style="color: purple;">
                         <div>
                            Aurora Star <small style="font-size: 30px;">&copy;</small>
                         </div>
                    </h1> 
                    <h2>
                        Ametrine
                    </h2>
                    <h3>
                        Visit the Wertz Gallery, Carnegie Museum, Permenant Collection
                    </h3> 
                </div>
            </div>
            <div class="row landing_photo_card">
                <div class="col-md-7 order-md-1 order-sm-2">
                    <h1 style="color: rgb(179, 13, 13);">
                         <div>
                            Crown of Fire <small style="font-size: 30px;">&copy;</small>
                         </div>
                    </h1> 
                    <h2>
                        Red Beryl
                    </h2>
                    <h3>
                        1st Place Int'l Gemmy's
                    </h3>
                    <h3>
                        Private Collection
                    </h3> 
                </div>
                <div class="col-md-5 order-md-2 order-sm-1 landing_page_photo">
                    <img src="\img\Crown_of_Fire_Gemmys_Privage_Collection.jpg">
                </div>
                
            </div>
            <div class="row landing_photo_card">
                <div class="col-md-5 landing_page_photo">
                    <img src="/img/Meteorite_Heavenite.jpg">
                </div>
                <div class="col-md-7">
                    <h1 style="color: rgb(146, 177, 10);">
                         <div>
                            Aurora Star <small style="font-size: 30px;">&copy;</small>
                         </div>
                    </h1> 
                    <h2>
                        Meteorite Peridot
                    </h2>
                    <h3>
                        4 Billion Years Old!
                    </h3> 
                    <h3>
                        Private Collection
                    </h3>
                </div>
            </div>
            <div class="break"></div>
            <div class="row  justify-content-center">
                <a class="enter" href="{{url_for('home')}}"><i>ENTER</i></a>
            </div>
            <div class="row justify-content-center">
                <h4>    
                    Refresh pages to see the latest content!
                </h4>
            </div>
            <div class="row justify-content-center">
                SITE SEAL
            </div>
            <div class="row justify-content-center">
                <h5>
                    Transactions on this site are protected with up to 256 bit secure socket layer encryption.
                </h5>
            </div>
            <br>
            <div class="row justify-content-center">
                <h6>
                    Copyright Stinson's Gemcutting 2023. This website was updated in 2023. The original site was created on Febuary 18, 1999.
                </h6>
            </div>         
        </div>  
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
